@import "tailwindcss";
@import 'lenis/dist/lenis.css';

:root {
  --background: #000000;
  --foreground: #171717;
  --primary: #AEA797;
  --secondary: #2A2927;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-inter: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
    --primary: #AEA797;
    --secondary: #2A2927;
  }
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: var(--font-inter);
}

.font-editorial {
  font-family: var(--font-editorial);
}

h1,h2,h3,h4,h5,h6{
  font-family: var(--font-editorial);
}

::-webkit-scrollbar { 
  display: none; 
}