@import "tailwindcss";
@import 'lenis/dist/lenis.css';

:root {
  --background: #2A2927;
  --foreground: #171717;
  --primary: #AEA797;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-inter: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2A2927;
    --foreground: #ededed;
    --primary: #AEA797;
  }
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: var(--font-inter);
}

.font-editorial {
  font-family: var(--font-editorial);
}

h1,h2,h3,h4,h5,h6{
  font-family: var(--font-editorial);
}

::-webkit-scrollbar { 
  display: none; 
}

/* .parallax-inner img {
  will-change: transform;
  backface-visibility: hidden;
  transform-origin: center center;
}

.bg-panel,
.parallax-bg,
.parallax-inner {
  will-change: transform, opacity;
} */

/* keep sticky-text visually above panels */
/* .sticky-text {
  position: relative;
} */